In [ ]:
"gandu"

'gandu'

In [ ]:
print("\"Welcome to Excelr!\"")

"Welcome to Excelr!"

In [ ]:
"hello"

'hello'

In [ ]:
120/12*2-4

16.0

In [ ]:
(5-2)*10

30

In [ ]:
marks=80
marks

80

In [ ]:
type(marks)

int

In [ ]:
3**3

27

In [ ]:
price=50.5
price
type(price) #only shows output of last line

float

In [ ]:
price=50.5
print(price)#to see intermediate line'soutput use print() fun
type(price)

50.5

float

In [ ]:
name="Tejas"
type(name)

str

In [ ]:
dir(str)#all methods that can applied on string

In [ ]:
str1="welcome to Data Science"
str1.capitalize()

'Welcome to data science'

In [ ]:
str1

'welcome to Data Science'

In [ ]:
str1.upper()

'WELCOME TO DATA SCIENCE'

In [ ]:
str1.lower()

'welcome to data science'

In [ ]:
str1.title()

'Welcome To Data Science'

In [ ]:
food="bIrYAni"
name="sNEHAL"
print(food.swapcase())
name.swapcase()

BiRyaNI

'Snehal'

In [ ]:
s1="My name is Snehal."
print(s1.split()) #list of string is created
s2="Mumbai-Pune-Mumbai"
(s2.split("-"))

['My', 'name', 'is', 'Snehal.']
['Mumbai', 'Pune', 'Mumbai']

In [ ]:
mail="tejas@excelr.com"
mail.split("@")

['tejas', 'excelr.com']

In [ ]:
s1

'My name is Snehal.'

In [ ]:
s1.replace("Snehal","Tejas")

'My name is Tejas.'

In [ ]:
#Single line comment
'''
multiline comment
'''

In [ ]:
city="Satara"
city.count("a")

3

In [ ]:
"Satara".count("a")

3

In [ ]:
name="Raj "
name*4

'Raj Raj Raj Raj '

In [ ]:
n1=5
n1*7

35

In [ ]:
name="Rajesh"
surname="kulkarni"
name+surname #concatenates without text

'Rajeshkulkarni'

In [ ]:
name+" "+surname

'Rajesh kulkarni'

In [ ]:
#conditional statement
a=270
b=250
if a>b:
  print("a is greater")
  print("In true block")
  c=a+b
  print(c)
else:
    print("b is greater")
    print("In false block")
    c=a*b
    print(c)

a is greater
In true block
520

In [ ]:
a=1200
b=300
if(a>b):
  print(a,"is greater")
else:
    print("Greatest number is:",b)

1200 is greater

In [ ]:
salary=25000
if(salary>20000):
  tax=0.25
  print("Hello from true if")
else:
  tax=0.20
  print("hello from false if/else")
print("Bye...outside of if block")
net_salary=salary-tax*salary
print("Net salary=",net_salary)

Hello from true if
Bye...outside of if block
Net salary= 18750.0

In [ ]:
#For loop
for i in range(5,10): #print numbers from 5 to 9 degfault increment is 1.
  print(i)
print("Bye")

5
6
7
8
9
Bye

In [ ]:
#print numbers 1 to 10
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
#print odd no from 1 to 50
for i in range(1,50,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
#print no 1 to 10
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#print even no from 1 to 50
for i in range(0,50,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
# break statement terminate the loop when condition is satisfied
for i in range(1,11):
  if i==5:
     print("Same")
     break
  else:
    print(i)

1
2
3
4
Same

In [ ]:
# for negative starting no should be greater than secod no
for i in range(21,1,-2):
  print(i)

21
19
17
15
13
11
9
7
5
3

In [ ]:
for num in range(11):#0 to 10
  print(num,num*num)#num and its square

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [ ]:
for num in range(11):#0 to 10
  print(num,num**3)#cube

0 0
1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000

In [ ]:
#range(start,stop,step)
for i in range(1,30,5):
  print(i,"@")

1 @
6 @
11 @
16 @
21 @
26 @

In [ ]:
subject="Science"
for i in subject:
  print(i)

S
c
i
e
n
c
e

In [ ]:
name="Tejas"
for i in range(3,7):
  print(name*i)

TejasTejasTejas
TejasTejasTejasTejas
TejasTejasTejasTejasTejas
TejasTejasTejasTejasTejasTejas

In [ ]:
name="Tejas"
for i in range(3,7):
  x=(name+" ")*i
  print(x)

Tejas Tejas Tejas
Tejas Tejas Tejas Tejas
Tejas Tejas Tejas Tejas Tejas
Tejas Tejas Tejas Tejas Tejas Tejas

In [ ]:
movie="Drishyam"
for i in movie:
 # print(i)
  #print(i.swapcase())
  print(i.swapcase(),end="# ")

d# R# I# S# H# Y# A# M#

In [ ]:
#print all even and odd no between given range using for loop
for i in range(1,11):
  if i % 2==0:
    print("Even number",i)
  else:
    print("Odd number",i)

Odd number 1
Even number 2
Odd number 3
Even number 4
Odd number 5
Even number 6
Odd number 7
Even number 8
Odd number 9
Even number 10

In [ ]:
#print all even and odd no between given range using for loop
print("Even Numbers")
for i in range(1,11):
  if i % 2==0:
    print(i,end=" ")

print(" ") #new line
print("Odd Numbers")
for i in range(1,11):
  if i%2!=0:
    print(i,end=" ")

Even Numbers
2 4 6 8 10
Odd Numbers
1 3 5 7 9

In [ ]:
status1=True
type(status1)

bool

In [ ]:
status2=False
type(status2)

bool

In [ ]:
#print each letter  times wit seperator

In [ ]:
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [ ]:
len("My NAME")

7

In [ ]:
  len("Snehal")

6

In [ ]:
#Data Structure: 1.List
#List are mutable
#created using square bracket[]
marks=[40,55,70,60,85,80,78]
marks

[40, 55, 70, 60, 85, 80, 78]

In [ ]:
type(marks)

list

In [ ]:
dir(list)

In [ ]:
#creates new sorted list.Original mark list remain untouched
new_marks=sorted(marks)
new_marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks

[40, 55, 70, 60, 85, 78]

In [ ]:
marks.sort()#original list is sorted in ascending order by default
marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks

[40, 55, 60, 70, 78, 80, 85]

In [ ]:
marks.append(35) # Append will add element in last only
marks

[40, 55, 60, 70, 78, 80, 85, 35]

In [ ]:
marks.reverse() # will reverse all values
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
marks2=[42,64,50,78,87,80]
marks2

[42, 64, 50, 78, 87, 80]

In [ ]:
marks2.sort(reverse=True) # Sorts in descending order when reverse=True
marks2

[87, 80, 78, 64, 50, 42]

In [ ]:
marks3=[40,60,50,70,80,85] #by default sort in ascending order
marks3.sort(reverse=False)
marks3

[40, 50, 60, 70, 80, 85]

In [ ]:
marks

[35, 85, 80, 78, 70, 60, 55, 40]

In [ ]:
90 in marks #check whether 90 is present in list or not

False

In [ ]:
80 in marks

True

In [ ]:
list1=[10,20,30]
list2=[40,50,60]
list1 + list2    #concatenation or merging elements of two list

[10, 20, 30, 40, 50, 60]

In [ ]:
(list1+list2)*3 #repeats 3 times

[10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60]

In [ ]:
#List of strings
list3=["Mango","Apple","Banana","Pinepple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pinepple', 'Custard Apple', 'Strawberry']

In [ ]:
#Display fruits by changing case of all fruits to uppercase
for fruit in list3:
  print(fruit.upper()) #in single line: print(fruit.upper(),end=" ")

MANGO
APPLE
BANANA
PINEPPLE
CUSTARD APPLE
STRAWBERRY

In [ ]:
for fruit in list3:
  print(fruit.upper(),end=",")

MANGO,APPLE,BANANA,PINEPPLE,CUSTARD APPLE,STRAWBERRY,

In [ ]:
for fruit in list3:
   print(fruit.replace("u","a"),end=" ")

Mango Apple Banana Pinepple Castard Apple Strawberry

In [ ]:
# In Phython Indexing starts with 0
list3

['Mango', 'Apple', 'Banana', 'Pinepple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[0]

'Mango'

In [ ]:
list3.count("Banana") # how many times element is available

1

In [ ]:
list3[6] #raise error as index is up to 5 only

In [ ]:
list3[5]

'Strawberry'

In [ ]:
# Slicing
list3[0:4]#0,1,2,3

['Mango', 'Apple', 'Banana', 'Pinepple']

In [ ]:
# from apple to strawberry i.e till end
list3[1:]# orlist3[1:6]

['Apple', 'Banana', 'Pinepple', 'Custard Apple', 'Strawberry']

In [ ]:
list3[:4]

['Mango', 'Apple', 'Banana', 'Pinepple']

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pinepple', 'Custard Apple', 'Strawberry']

In [ ]:
# Negative Indexing: -1 refers to last element
list3[-1]

'Strawberry'

In [ ]:
list3[-6]

'Mango'

In [ ]:
#start stop step in slicing
print(list3)
list3[::2]# 0,2,4

['Mango', 'Apple', 'Banana', 'Pinepple', 'Custard Apple', 'Strawberry']

['Mango', 'Banana', 'Custard Apple']

In [ ]:
n1=list(range(1,31))
print(n1,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [ ]:
#n1=list(range(1,31,2))
#print(n1,end=" ")

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [ ]:
n1[::4]

[1, 5, 9, 13, 17, 21, 25, 29]

In [ ]:
n1[2:27:5]

[3, 8, 13, 18, 23]

In [ ]:
#use of "in Keyword": search substring i  given word
"the" in "Netherland"

True

In [ ]:
"The" in "Netherland"

False

In [ ]:
"therer" in "Netherland"

False

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pinepple', 'Custard Apple', 'Strawberry']

In [ ]:
list3.append("Mulberry")
list3

['Mango',
 'Apple',
 'Banana',
 'Pinepple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Mulberry',
 'Mulberry']

In [ ]:
list3.remove("Mulberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pinepple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
list3.remove("Mulberry")

In [ ]:
list3

['Mango', 'Apple', 'Banana', 'Pinepple', 'Custard Apple', 'Strawberry']

In [ ]:
#display fruits which contain substring as "berry using loop"
for fruit in list3:
  if "berry" in fruit:
    print(fruit)

Strawberry

In [ ]:
for fruit in list3:
  if "pple" in fruit:
    print(fruit)

Apple
Pinepple
Custard Apple

In [ ]:
for fruit in list3:
  if "berry" not in fruit:
    print(fruit)

Mango
Apple
Banana
Pinepple
Custard Apple

In [ ]:
list3.append("blackberry")

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pinepple',
 'Custard Apple',
 'Strawberry',
 'blackberry']

In [ ]:
list4=[]
list5=[]
for fruit in list3:
  if "berry" in fruit:
     list4.append(fruit)
  else:
     list5.append(fruit)
print(list4)
print(list5,end=" ")

['Strawberry', 'blackberry']
['Mango', 'Apple', 'Banana', 'Pinepple', 'Custard Apple']

In [ ]:
#print squ of all no of list1 to list2
l1=[2,3,4,5,6]
l2=[]
for i in l1:
  l2.append(i**2)
print(l1)
print(l2,end=" ")

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [ ]:
#list comprehension-makes your code compact
l1=[2,3,4,5,6]
l2=[i**2 for i in l1]
print(l1)
print(l2)

[2, 3, 4, 5, 6]
[4, 9, 16, 25, 36]

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pinepple',
 'Custard Apple',
 'Strawberry',
 'blackberry']

In [ ]:
newlist=[fruit for fruit in list3 if "berry" in fruit]

In [ ]:
print(newlist,end=" ")

['Strawberry', 'blackberry']

In [ ]:
newlist1=[fruit for fruit in list3 if "berry" not in fruit]

In [ ]:
print(newlist1,end=" ")

['Mango', 'Apple', 'Banana', 'Pinepple', 'Custard Apple']

In [ ]:
city=["Pune","Mumbai","Satara","Thane","Solapur","Kolhapur"]

In [ ]:
newlistpur=[i for i in city if "pur" not in i]

In [ ]:
newlistpur

['Pune', 'Mumbai', 'Satara', 'Thane']

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pinepple',
 'Custard Apple',
 'Strawberry',
 'blackberry']

In [ ]:
list3.index("Mango")

0

In [ ]:
list3

['Mango',
 'Apple',
 'Banana',
 'Pinepple',
 'Custard Apple',
 'Strawberry',
 'blackberry']

In [ ]:
#replace banana by orange
#list are mutable - you can replace items of list
list3[2]="Orange"
list3

['Mango',
 'Apple',
 'Orange',
 'Pinepple',
 'Custard Apple',
 'Strawberry',
 'blackberry']

In [ ]:
#Data Structure: TUPLE
#tuples are not mutable i.e immutable
#created using round bracket()
t1=(1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [ ]:
type(t1)

tuple

In [ ]:
t1[0]

1

In [ ]:
t1[0]=7

TypeError: ignored

In [ ]:
t3=t1 + (6,7,8,9,10) #mreging
t3

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
dir(t1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
t1.count(1)

1

In [ ]:
t1.index(4)

3

In [ ]:
#indedxing and slicing
t1[2]

3

In [ ]:
t1

(1, 2, 3, 4, 5)

In [ ]:
t1[1:5]

(2, 3, 4, 5)

In [ ]:
t1[3:]

(4, 5)

In [1]:
#Data Structure: 3.Dictonary
#Dictionaies are used to store data values in "key:value:pairs"
#A dictionary is a collection which is ordered,changeable and do not allow duplicate
#Dictionaries are written in curly brcket {"key : Value"} and have keys and values
#here keys is unique identifiers that aare associated with eah values
capital_dict={"Nepal":"Kathmandu","Italy":"Rome","England":"London"}
print(capital_dict)

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
type(capital_dict)

dict

In [ ]:
dir(capital_dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# acess element of dictionary
capital_dict["England"]

'London'

In [2]:
# keys() methods extracts the keys of the dictionary and returns the list of keys as a view
keys=capital_dict.keys()
keys

dict_keys(['Nepal', 'Italy', 'England'])

In [3]:
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [4]:
#the values() returns a view object that display a list of all values in the dict
values=capital_dict.values()
values

dict_values(['Kathmandu', 'Rome', 'London'])

In [5]:
#the items() methods returns a view object that display a list of dict(key,value) tuple pairs
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [6]:
#The update() methods update the dictionary elements from another dictionary object
add_capital={"India":"New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [7]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [15]:
capital_dict.update({"Australia":"Sydney"})
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Sydney'}

In [16]:
# The pop() method removes and returns an element from a dictionary having the given key
capital_dict.pop("Australia")

'Sydney'

In [13]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [17]:
capital_dict["abc"]="Mumbai"

In [18]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai'}

In [19]:
# Removes last key:value pair from dictionary by default
capital_dict.popitem()

('abc', 'Mumbai')

In [20]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [23]:
#Dictionary values can be different data type
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Blackberry"]
mylist

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Blackberry']

In [24]:
mytuple=(20,53,45,78,89,65,97)

In [26]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
        }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Blackberry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu',
  'Italy': 'Rome',
  'England': 'London',
  'India': 'New Delhi'}}

In [27]:
mydict["A"]

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Blackberry']

In [28]:
mydict["C"]

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi'}

In [29]:
mydict["B"]

(20, 53, 45, 78, 89, 65, 97)

In [30]:
mydict["A"][5]# index 0 1 2 3,3rd index element =Banana

'Blackberry'

In [32]:
mydict["C"]["Italy"]

'Rome'

In [33]:
# math function: can import specific functions or all using
sqrt(25) # raise error as you have not imported

NameError: ignored

In [34]:
from math import sqrt
sqrt(25)

5.0

In [35]:
from math import sqrt
sqrt(98)

9.899494936611665

In [37]:
from math import factorial
factorial(5)

120

In [39]:
from math import sin
sin(90)

0.8939966636005579

In [40]:
from math import sin,cos,tan

In [41]:
tan(45)

1.6197751905438615

In [42]:
sin(90)

0.8939966636005579

In [43]:
cos(90)

-0.4480736161291701

In [44]:
cos(0)

1.0

In [45]:
from math import *
listnew=[5,2,3]
prod(listnew) #product of element // prod([10,20,30])

30

In [46]:
import math
sequence=(2,2,5,6)
print(math.prod(sequence))

120

In [48]:
import math
list4=[2,3,4]
math.prod(list4)

24

In [49]:
import math as mt

In [50]:
mt.sqrt(36)

6.0